.artistic_events{
    width: 100%;
}
.artistic_single_event{
    width: 29%;
    margin: 2%;
    float: left;    
    border:double;
    border-color: #75151e;
    border-width: 1em;
    background-color: #a5eaff;
}
#event_img{
    width: 100%;
}
#event_img:hover{
    box-shadow: 0.1em 0.1em 1.5em 0.1em deepskyblue;
}

.content_part{
	width: 90%;
	height: 85%;
	float: left;
	margin:5%;
    text-align: center;
}
#line_img{
    width: 50%;
}

.events_titles{
    font-size: 3vw;
	text-align: center;
	color: black;
	margin-bottom: 0.5%;
	margin-left: 2%;
	margin-right: 2%;
}